* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



body,
html {
  min-height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
}

model-viewer{
  width: 100%;
  height: 30vw;
}

body {

  font-family: "IBM Plex Sans", sans-serif;
  background: linear-gradient(90deg, #51d3cf, #9c9c9c, #00fff2);

}

header {
  padding: 20px 80px;
  display: flex;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  color: #fff;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


.wrapper {
  padding: 80px;
}

.grid-half {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap:25px;
  align-items: center;
}

.grid-column-6{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  text-align: center;
}

.grid-column-2{
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.grid-row-3{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.purple {
  background: linear-gradient(135deg, #3d4daa, #5eb6ff);
}

.yellow {
  background: linear-gradient(135deg, #f6d365, #fff78d);
}

.pink {
  background: linear-gradient(135deg, #ff95c8, #f03f95, #ff80e8);
}

.blue {
  background: #007fff;
}

.name {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  word-spacing: 3.5em;
  font-size: 32px;
  font-weight: 700;
}


h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

.meta {
  font-size: 15px;
  font-weight: 200;
  font-family: "IBM Plex Mono", monospace;
}

.base-large {
  font-size: 19px;
}

q {
  font-size: 16px;
}


a.logo {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-sm {
  font-size: 26px;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
  text-align: right;
}

.logo-lg {
  font-size: 80px;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
}




.primary-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

.primary-nav a {
  text-decoration: none;
  color: #000;
}


header a {
  color: #00e0ff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

header a:hover {
  color: #fff;
}

nav a {
  position: relative;
  transition: 0.3s ease;
}



.bttn {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  background: #9ADBCF;
  color: #000000;
  display: inline-block;
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 23px;
  transition-duration: background-color 0.5s;
}


.bttn:hover {
  background: transparent;
  border: 1px solid #9ADBCF;
  transform: translateY(-2px);
}






footer {
  text-align: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  color: #aaa;
}